# Introdução ao pandas Series



Aqui vamos abordar sucintamente aspectos introdutórios sobre o tema. É claro que aqui não tem muita novidade, a não ser uma organização um pouco mais didática e facilitada. Tudo que se aborda aqui é a luz da [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

O primeiro passo é importar a biblioteca pandas, que tipicamente é renomeada como sendo "pd". Isso é feito apenas para deixar o código mais enxuto e melhor de ser implementado.  Poderíamos chamar de outro nome, por exemplo "ed" - o que exigiria o esforço mental de se associar "ed" à "pandas", daí "pd" servir muito melhor para essa finalidade. **Lembre que o seu código será lido por outras pessoas**. Para um leitor teimoso, pode-se usar também "pandas" por extenso ao preço de se digitar mais alguns carácteres toda vez que se chama a biblioteca.

In [ ]:
import pandas as pd

Agora vamos construir um exemplo de pandas Series para discutirmos as suas características.

In [ ]:
s1 = pd.Series(data = [True, 21, 'Matemática'], 
               index = ['Alice', 'Bob', 'Carlos'])

s1

Os dados que estamos representando é essencialmente a lista: 

 <font color='red'> [True, 21, 'Matemática'], </font>

cuja cada elemento tem um *índice* correspondente 

<font color='red'> ['Alice', 'Bob', 'Carlos'].</font>

Observe ainda o dtype : object. Aqui o pandas está interpretando os elementos como sendo um objeto genérico. 

Vejamos agora um segundo exemplo:

In [ ]:
s2 = pd.Series(data = [18, 21, 13], 
               index = ['Alice', 'Bob', 'Carlos'])

s2

Quando os nossos dados de entrada são todo inteiros, automaticamente o pandas reconheceu os dados como sendo do formato inteiro! 

Aqui então já notamos uma grande diferença com o tratamento típico de arrays (por exemplo, NumPy ndarrays) é que <font color='red'> pandas Series suporta dados de entrada em diferentes formatos.</font>

# Atributos

Curtas e rápidas sobre alguns dos atributos do pd.Series:

In [ ]:
# Checando tipo de dados: 
s2.dtype

In [ ]:
# Acessando os índices da série: 
s1.index

In [ ]:
#Acessando os valores de uma série:
s1.values

In [ ]:
#Shape dos dados
s1.shape

In [ ]:
#Quantidade de elementos nos dados
s1.size

# Métodos

Curtas e rápidas sobre alguns métodos do pd.Series:

In [ ]:
#Concatenar duas series
s1 = pd.Series([1,'oi',3]) #Se índices não forem informados, eles serão 0,1,2...
s2 = pd.Series(['tchau', 5, 6], index = ['x', 'y', 'z'])
s3 = s1.append(s2)
s3

In [ ]:
# Concatenar duas series ignorando indice da segunda
s1.append(s2, ignore_index=True)

Vamos ilustrar agora o método apply, que serve para "aplicar" uma função ao pandas series. Por exemplo, a tarefa de elevar todos os números ao quadrado.

In [ ]:
#Passo 1: Definir a função:
def square(x): return x*x;

#Passo 2: Chamar a função via método apply:
s = pd.Series([1, 2, 3])
s.apply(square)

In [ ]:
#Deletando valores de uma série por indice:
s = pd.Series(data=[18, 21, 22], index=['Alice', 'Bob', 'Carlos'])
s.drop(labels = ['Bob', 'Carlos'])

In [ ]:
#Deletando valores com dados com NaN
s = pd.Series(data = [float("NaN"), 21, 22], index=['Alice', 'Bob', 'Carlos'])
print(" Antes: \n")
print(s)
print("\n Depois: \n ")
s.dropna()

In [ ]:
#Substituindo valores com dados com NaN
s = pd.Series(data = [float("NaN"), 21, 22], index=['Alice', 'Bob', 'Carlos'])
s.fillna(value = 0)

In [ ]:
#Conversões
s = pd.Series(data=[18, 21, 22], index=['Alice', 'Bob', 'Carlos'])

#Json
print(" Jason: {}".format(s.to_json()))

#Latex
print("\n Latex: \n")
print(s.to_latex())

#Lista
print("\n Lista: {}".format(s.to_list()))

In [ ]:
#Valores unicos
s = pd.Series(data=[18, 18, 22], index=['Alice', 'Bob', 'Carlos'])
s.unique()

In [ ]:
#Substitui valores via clásula where
s = pd.Series(data = [16, 18, 22])

#inplace serve para modificar objeto original
#Substitui valores quando a condição é falsa
s.where(s < 18, "Hot") #Se não < 18, então "Hot"